[Unit]
Description=pisteaming

[Service]
ExecStart=/home/pi/pistreaming/.check.sh
ExecStop=/home/pi/pistreaming/.kill.sh
StandardOutput=null

[Install]
WantedBy=multi-user.target
Alias=timelapse.service